@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuIcon {
    align-self: flex-start;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    display: flex;
    gap: 1rem;
}

.icon {
    width: 1.1rem;
    height: 0.1rem;
    background-color: black;
    margin: 6px 0;
}

.heading {
    background-image: linear-gradient(to right, rgba(152, 152, 152, 0.4) , rgba(137, 137, 137, 0.1));
    border-radius: 12.5px;
    padding: 0.5rem 1.5rem;
    margin: 1rem 0;
}

.heading h1 {
    font-size: larger;
    font-weight: bold;
    color: #3C3C3C;
}

.content {
    margin: 0 5%;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    border: 1px solid #A4A4A4;
    padding: 1.25rem 0.9rem;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 768px;
    width: 90%;
}

.headingContent {
    background-image: linear-gradient(to right, rgba(34, 121, 58, 0.2) , rgba(106, 208, 128, 0.2), rgba(34, 121, 58, 0.2));
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.GHGContent {
    text-align: center;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 0.5rem 3.5rem;
    font-weight: bold;
}

.content2 {
    margin: 0 5%;
    margin-bottom: 8rem;
    border-radius: 15px;
    border: 1px solid #A4A4A4;
    padding: 1.25rem 0.9rem;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: 768px;
    width: 90%;
}

.tableContainer {
    width: 100%;
    overflow-x:auto;
}

.table {
    font-size: smaller;
    width: 100%;
    border-collapse: collapse;
}
.table tr td {
    font-weight: normal;
}

td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.actionIcon {
    align-self: flex-end;
    display: flex;
    font-weight: normal;
    gap: 0.5rem;
}

.actionIcon div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actionIcon div img{
    width: 1.75rem;
}

.actionIcon div p {
    font-weight: normal;
    font-size: smaller;
}

nav {
    width: 85%;
    max-width: 786px;
    max-height: 77px;
    padding: clamp(5px, 3.75%, 20px) 2.5%;
    border-radius: 7.5px;
    border: none;
    color: white;
    font-size: medium;
    position: fixed;
    bottom: 1.5rem;
    background-image: linear-gradient(to right, rgba(152, 152, 152, 0.4) , rgba(137, 137, 137, 0.2));
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

nav:hover {
    background-color: rgb(0, 0, 0, 0.15);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

nav img {
    width: 7.5%;
}

nav div {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    margin-top: -1%;
}

nav div img {
    width: 1.75rem
}

nav div img:last-child {
    width: 30%;
}